#### This is my first code

In [1]:
import os

In [2]:
ls

 Volume in drive C is OSDisk
 Volume Serial Number is 2802-7A11

 Directory of C:\Users\nehachau\Desktop\DL

04/28/2020  09:29 PM    <DIR>          .
04/28/2020  09:29 PM    <DIR>          ..
04/28/2020  08:57 PM             1,025 .ipynb
04/28/2020  08:57 PM    <DIR>          .ipynb_checkpoints
04/28/2020  09:27 PM               664 day1.ipynb
04/28/2020  09:29 PM            11,345 gapminder.csv
04/28/2020  09:21 PM                 6 New Text Document.txt
04/28/2020  09:20 PM                14 README.md
               5 File(s)         13,054 bytes
               3 Dir(s)  83,132,346,368 bytes free

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("gapminder.csv")

In [5]:
df.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059,2.73,0.1,3.328945,24.59620,12314,129.9049,75.3,29.5,Middle East & North Africa
1,19842251,6.43,2.0,1.474353,22.25083,7103,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860,2.24,0.5,4.785170,27.50170,14646,118.8915,75.5,15.4,America
3,2975029,1.40,0.1,1.804106,25.35542,7383,132.8108,72.5,20.0,Europe & Central Asia
4,21370348,1.96,0.1,18.016313,27.56373,41312,117.3755,81.5,5.2,East Asia & Pacific